.container {
    display: flex;
    width: 95%;
    align-items: center;
    margin: auto;
    padding: 10px;
  }

.container img {
    width: 30%;
    height: 200px;
    text-align: center;
    margin: 10px;
  }

.container .movieInfo {
    margin: 10px;
    width: 60%;
}